
.jumbotron{
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 200px;
}

.container{
    text-align: center;
}

.form-control{
    width:30%;
    text-align: center;
    margin: 20px auto;
}
a {
    text-decoration: none;
}

ul{
    padding:0;
}

li {
    line-height: 1.5em;
    margin-bottom: 20px;
    list-style: none;
}

.author, .date {
    font-weight: bold;
}

.commit{
    color: #f66;
}
.authorName{
    color: #66f;
}
